$primary: #66cccc;
$primary-color-hover: #39acac;
$primary-color-active: #349e9e;
$primary-light-color: #85d6d6;
$primary-dark-color: #2e8989;

$secondary: #b7cfea;
$danger: #d83c31;
$success: #19ad79;
$warning: #f49537;
$disabled-gray-color: #c5c6c7;
$row-error-color: #f8d7da;
$circle-icon: #83e852;
$circle-stroke: #138d62;

$white: #ffffff;
$light-grey: #d6d6d6;
$black: #000000;
$black-with-transparencies: #00000029;
$light: #f5f7f9;
$gray: #a3a6b4;
$light-gray: #a5a5a5;
$light-medium: #919191;
$raven: #656d7d;
$dark-gray: #5e5e5e;
$light-blue: #57c3fc;
$blue: #5287bf;
$vivid-blue: #0072ec;
$light-cyan: #d9eafc;
$chinese-white: #e0e0e0;
$ebony: #2b303b;
$gray-scheduler: #f7f7f7;
$hold-color: #d96d00;
$proposal-color: #8c008c;
$campaign-color: #66cccc;
$disable-color: #5e5e5e;
$available-color: #e6e6e6;

$hold-disable-color: #b55b00;
$proposal-disable-color: #6e146e;
$campaign-disable-color: #5264b4;
$disable-disable-color: #3b4752;
$availabl-disable-color: #8e8e93;

$filter-poi-color: #f6f8fa;
$data-empty-color: #2c2c2c59;
$loader-backdrop-color: #ffffff66;
$rs-panel-title: #777777;

$bm-item-list: #b8b7ad;
$rs-pagination-btn: #4e4e4e;

$input-bg-addon: #f0f0f0;

$deep-purple:#13023E;
$celine:#7EFFFF;
$menu-hover:#83D5D5;
$menu-active:#66CCCC;
$violet:#744cd2;

$loader-dashboard:#e9ebec7a;
$divider-dashboard: #f2f2f5
